:root {
    --primary-color: #0070f3;
    --secondary-color: #1a1a1a;
    --background-color: #f0f0f0;
    --text-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    // padding: 20px;
}

.input-button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

li {
    display: inline-block;
    /* margin-right: 5px; */
    margin: 20px 0px 20px 10px;  
}

.header {
    background-color: #282c34;
    padding: 20px;
    color: white;
    text-align: center;
}

.footer {
    background-color: #282c34;
    padding: 10px;
    color: white;
    text-align: center;
}

.Header, .Footer {
    min-height: calc(10vh);
    max-height: calc(20vh);
}

.Footer {
    display: flex;
    flex-direction: column;
}

.label {
    margin-right: 10px;
}

