.Main {
    min-height: calc(100vh - 120px);
    padding: 5px 5px;
    display: flex;
    /* align-items: first baseline;
    justify-content: center; */
    background: #fafafa;
    color: #111;
}

.Main h1 {
    font-size: 2rem;
    margin: 0;
}

@media (min-width: 768px) {
    .Main h1 {
        font-size: 2.5rem;
    }
}
